{% import 'bootstrap/wtf.html' as wtf %}
{% include 'header.html' %}

<section id="one" class="wrapper style1 special">
	<div class="inner">
		<h1> {{ message }} </h1>
		<ul class="icons major">
			<li><span class="icon fa-gem major style1"><span class="label">Lorem</span></span></li>
			<li><span class="icon fa-heart major style2"><span class="label">Ipsum</span></span></li>
			<li><span class="icon solid fa-code major style3"><span class="label">Dolor</span></span></li>
		</ul>
	</div>
</section>

        <div class="message_form">
            <h1> Messsage Form </h1>
            {{ wtf.quick_form(form, novalidate=True, extra_classes='form') }}
        </div>

{% include 'footer.html' %}




