<!-- Footer -->
	<footer id="footer">
		<ul class="icons">
			<li><a href="https://www.linkedin.com/in/anton-yusupov/" class="icon brands fa-linkedin" target="_blank"><span class="label" >Twitter</span></a></li>
			<li><a href="https://github.com/Tony-inc" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
			<li><a href="https://t.me/tony_inc" class="icon brands fa-telegram" target="_blank"><span class="label">Telegram</span></a></li>
			<li><a href="mailto: tonyuproduction@gmail.com" class="icon solid fa-envelope" target="_blank"><span class="label">Email</span></a></li>
		</ul>
		<p class="copyright">© Copyright 2022 | Tony Yusupov</p>
	</footer>

	</div>

	<!-- Scripts -->
		<script src="static/js/jquery.min.js"></script>
		<script src="static/js/jquery.scrollex.min.js"></script>
		<script src="static/js/jquery.scrolly.min.js"></script>
		<script src="static/js/browser.min.js"></script>
		<script src="static/js/breakpoints.min.js"></script>
		<script src="static/js/util.js"></script>
		<script src="static/js/main.js"></script>

</body>
</html>